
body{
	font-family: 'Roboto Mono', monospace;
}

a {
	margin: 0 5%;
	color: white;
	display: inline-block;
}

.visit{
	border-width: 2rem 2rem 2rem 2rem;
	background-color: #FF764E;
	border-radius: 10%;
	padding: 2rem;
}

.learn{
  background-color: #5ED3EB;
  border-width: 2rem 2rem 2rem 2rem;
  border-radius: 10%;
  padding: 2rem;
}

h1{
	font-family: 'Chelsea Market', cursive;
	font-size: 70px;
}
.involved{
  background-color: #FFCD69;
  border-width: 2rem 2rem 2rem 2rem;
  border-radius: 10%;
  padding: 2rem;
}
nav {
	text-align: center;
}

.round {
	max-width: 25%;
	height: auto;
	border-radius: 50%;
	padding: 2rem;
	float: left;
}

.top {
	display: inline-block;
}

section{
	
}

section {
	
	text-align: center;
	margin-left: 15%;
	margin-top: 10%;
	
}

#history{
	text-align: center;
	margin-top: 7em;
	background-color: #DDB9A3;

}
#travel {
	margin: 0 auto;
	text-align: center;
	max-width: 350px;
}

.centerimg{
	max-width: 300px;
	height: auto;
}

.footer {
	margin: 0 auto;
	display: block;
}

.bottomnav{
	padding: 1rem;
	background-color: #F9E7DC;
}